.button
{
  font-family: inherit;
  outline: none;
  padding: 10px 24px;

  color: #fff;
  font-weight: 700;
  text-transform: uppercase;

  cursor: pointer;
  align-self: center;

  &_size
  {
    &_m
    {
      font-size: 1.3em;
    }

    &_s
    {
      font-size: .9em;
    }
  }

  &_theme
  {
    &_normal
    {
      background: #ff2121;
      border: none;

      &:hover
      {
        background: #df2121;
      }

      &:active
      {
        background: #cf2121;
      }
    }

    &_inverse
    {
      background: transparent;
      border: 1px solid rgba(255, 255, 255, .6);
    }
  }
}
