.phone
{
  width: 220px;
  box-sizing: border-box;
  padding-left: 32px;

  font-size: 1.3em;
  letter-spacing: 1px;

  background: url('./phone.png') left bottom / auto no-repeat;
}

@media (max-width: 840px)
{
  .phone {
    margin-top: 6px;
  }
}
