.service
{
  max-width: 550px;
  width: 50%;
  min-height: 205px;
  margin-top: 15px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;

  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  text-align: center;

  &__name
  {
    text-transform: uppercase;
    font-size: 1.3em;
    font-weight: 700;
    line-height: 1.5em;
  }

  &__desc
  {
    font-size: .7em;
    font-weight: 100;
    opacity: .7;

    margin-bottom: 18px;
  }
}

@media (max-width: 840px) {
  .service
  {
    max-width: unset;
    width: 100%;
  }
}
