.promo
{
  $parent: &;

  position: relative;
  overflow: hidden;

  box-sizing: border-box;
  padding-top: 190px;
  height: 500px;
  margin-top: -110px;

  background: linear-gradient(90deg,rgba(0,0,0,.8),rgba(0,0,0,.5),rgba(0,0,0,.8));

  &__wrapper
  {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    position: relative;
  }

  & button
  {
    margin-left: 50px;
  }

  &__bg
  {
    object-fit: cover;
    object-position: 50% 20%;

    width: 100%;
    min-height: calc(100% + 200px);
    position: absolute;
    top: -200px;
    left: 0;

    z-index: -15;

    opacity: 0;

    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;

    &_active
    {
      opacity: 1;
    }
  }

  &_type
  {
    &_common
    {
      #{$parent}__title
      {
        font-size: 1.7em;
        letter-spacing: 1px;
        padding: 18px 0 0 50px;
        font-weight: 700;
        background: url('./canister.png') left bottom / contain no-repeat;
        text-transform: uppercase;
        margin-bottom: 12px;
      }

      #{$parent}__desc
      {
        font-size: 2.2em;
        font-weight: 700;

        &-sub
        {
          font-weight: 100;
          font-size: 1.8em;
          margin-bottom: 36px;
        }
      }
    }

    &_uncommon
    {
      display: flex;
      flex-wrap: wrap;

      .button
      {
        align-self: flex-start;

        margin-bottom: 10px;
      }

      #{$parent}__wrapper
      {
        display: flex;
        flex-wrap: wrap;
      }

      #{$parent}__desc
      {
        flex-grow: 2;
        padding-top: 43px;
        padding-right: 100px;
        margin-right: 100%;

        font-size: 3em;
        font-weight: 700;
        background: url('./paint.png') right top / auto no-repeat;

        &-sub
        {
          order: 3;

          max-width: 150px;
          margin-left: 30px;

          font-size: .7em;
          font-weight: 100;
          opacity: .7;
        }
      }
    }
  }

  &__arrow
  {
    position: absolute;
    left: calc(50% - 22.5px);
    animation: bounce 1.5s ease-in-out infinite;
  }
}

@keyframes bounce
{
  0%, 20%, 50%, 80%, 100% {bottom: 25px}
  40% {bottom: 31px}
  60% {bottom: 28px}
}

@media (max-width: 840px)
{
  .promo
  {
    height: 700px;
    padding-top: 300px;
    margin-top: -215px;

    .button
    {
      margin-left: 0;
      margin-bottom: 0;
    }

    &__desc-sub
    {
      margin-left: 0;
    }
  }
}
