.slider-controls
{
    position: absolute;
    right: 95px;
    bottom: 30px;

    display: flex;
    justify-content: flex-end;

    &__item
    {
        cursor: pointer;

        width: 9px;
        height: 9px;

        background: #ccc;

        &:not(:last-child)
        {
            margin-right: 7px;
        }

        &_active
        {
            background: #ff2121;
        }
    }
}

@media (max-width: 1100px)
{
    .slider-controls
    {
        right: 5%;
    }
}
