backend:
  name: github
  repo: luman-service/site

media_folder: static/assets
public_folder: assets

collections:
  - name: category
    label: Categories
    folder: data/category
    slug: "{{slug}}"
    create: true
    fields:
      - { name: title, label: Title, widget: string }
      - { name: description, label: Description, widget: string }
      - { name: background, label: Background, widget: image }
      - { name: type, label: Type, widget: string }
      - { name: order, label: Order, widget: number }
      - name: services_groups
        label: Services groups
        widget: list
        fields:
          - name: caption
            label: Caption
            widget: string
          - name: description
            label: Description
            widget: string
          - name: price_examples
            label: Price examples
            widget: list
            fields:
              - name: service_name
                label: Service name
                widget: string
              - name: service_price
                label: Service price
                widget: string
