backend:
  name: github
  repo: luman-service/site

media_folder: static/assets
public_folder: assets

collections:
  - name: category
    label: Categories
    folder: data/category
    slug: "{{slug}}"
    sort: order:asc
    create: true
    fields:
      - { name: title, label: Title, widget: string }
      - { name: type, label: Type, widget: string }
      - { name: description, label: Description, widget: string }
      - { name: background, label: Background, widget: image }
      - { name: order, label: Order, widget: number }

  - name: service
    label: Services
    folder: data/service
    create: true
    fields:
      - { name: title, label: Title, widget: string }
      - { name: description, label: Description, widget: string }
      - { name: price, label: Price, widget: number }
      - { name: category, label: Category, widget: string }
