$inputMarginRight: 20px;

.modal
{
  padding: 40px;
  max-width: 655px;
  background-color: #000;
  border: 2px solid currentColor;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  box-sizing: border-box;
  max-height: 100vh;
  overflow-y: auto;

  &__close
  {
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
  }

  &__title
  {
    width: 60%;
    margin-bottom: 20px;

    font-size: 2em;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;

    box-sizing: border-box;
  }

  &__sub
  {
    width: 25%;

    font-size: .6em;
    line-height: 1.3em;
    color: rgba(255, 255, 255, 0.4);

    box-sizing: border-box;
  }

  &__required
  {
    position: absolute;
    bottom: 103px;
    left: 62%;

    width: 20%;
  }

  &__form
  {
    width: 100%;

    display: flex;
    flex-wrap: wrap;

    &-input
    {
      outline: none;

      box-sizing: border-box;
      border: none;
      width: 100%;

      background: #000;

      font-size: 1em;
      font-weight: 700;
      font-family: inherit;
      color: rgba(255, 255, 255, 0.4);

      &-wrapper
      {
        position: relative;
        padding: 11px 0 11px 20px;
        border: 1px solid #fff;
        box-sizing: border-box;
        margin-right: $inputMarginRight;

        &-name,
        &-phone,
        &-car
        {
          width: 45%;
        }

        &-name,
        &-phone,
        &-car,
        &-date,
        &-time
        {
          margin-bottom: 15px;
        }

        &-date
        {
          width: calc(30% - #{$inputMarginRight});
        }

        &-time
        {
          width: 15%;
          margin-right: 0;
        }

        &-date,
        &-time
        {
          padding-left: 10px;
        }

        &-name::before,
        &-phone::before,
        &-car::before,
        &-date::before,
        &-time::before
        {
          content: '*';

          font-size: .6em;
          color: rgba(255, 255, 255, 0.4);

          position: absolute;
          left: 6px;
          top: 5px;
        }

        &-comment
        {
          width: 60%;
          height: 85px;

          & textarea
          {
            width: 100%;
            height: 100%;
          }
        }
      }
    }

    &-submit
    {
      align-self: flex-end;

      outline: none;
      padding: 10px 0;
      width: calc(40% - 20px);

      color: #fff;
      font-size: 1.2em;
      font-weight: 700;
      font-family: inherit;
      text-transform: uppercase;

      cursor: pointer;

      background: #ff2121;
      border: none;

      &:hover
      {
        background: #df2121;
      }

      &:active
      {
        background: #cf2121;
      }
    }
  }

  &-wrapper {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    min-height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 360px)
{
  .modal
  {
    width: 100%;
    border-left: none;
    border-right: none;

    &__title
    {
      width: 100%;

      font-size: 1.6em;
    }

    &__close
    {
      font-size: 1.5em;

      top: 5px;
      right: 5px;
      padding: 10px;
    }

    &__form
    {
      justify-content: space-around;

      &-input-wrapper
      {
        width: 100%;
        margin: 0 0 15px 0;
      }

      &-submit{
        width: 100%;
      }
    }

    &__sub
    {
      display: none;
    }
  }
}
