.header
{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 95px;

  &-wrapper
  {
    box-sizing: border-box;
    min-height: 510px;
    padding: 40px 0;
    position: relative;

    background: linear-gradient(
      0.25turn,
      rgba(0, 0, 0, .8),
      rgba(0, 0, 0, .5),
      rgba(0, 0, 0, .8)
    ),
    url('./bg.png')
    center center / cover no-repeat;
  }

  &__logo
  {
    width: 142px;
  }

  &__nav
  {
    display: flex;
    align-items: center;

    &-inner
    {
      // width: 385px;
      margin: 0;
      display: flex;
      align-items: center;
      justify-content: space-between;

      & li:first-child
      {
        margin-right: 40px;
      }
    }

    &-item
    {
      text-transform: uppercase;
      font-size: 1em;
    }
  }

  &__phone
  {
    width: 220px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    &-order
    {
      cursor: pointer;
      outline: none;
      width: 170px;
      border: none;
      background: none;
      padding: 0;
      margin-bottom: 6px;

      color: rgba(255, 255, 255, .5);
      text-decoration: underline;
      text-transform: uppercase;
      font-size: .6em;
      font-weight: 300;

      &:hover
      {
        opacity: .8;
      }
    }
  }

  &__arrow
  {
    position: absolute;
    left: calc(50% - 22.5px);
    animation: bounce 1.5s ease-in-out infinite;
  }
}

@media (max-width: 840px)
{
  .header
  {
    flex-direction: column;
    align-items: center;
    margin-bottom: 55px;

    &-wrapper
    {
      padding-bottom: 60px;
    }

    &__nav
    {
      &-inner
      {
        flex-direction: column;

        & li
        {
          text-align: center;

          &:first-child
          {
            margin-right: unset;
            margin-bottom: 20px;
          }
        }
      }

      &__item
      {
        text-align: center;
      }
    }

    &__logo,
    &__nav,
    {
      margin-bottom: 30px;
    }

    &__phone
    {
      margin-left: -35px;
    }
  }
}

@keyframes bounce
{
  0%, 20%, 50%, 80%, 100% {bottom: 25px}
  40% {bottom: 31px}
  60% {bottom: 28px}
}
