.service-group
{
  background: #000000;
  display: flex;
  justify-content: space-around;
  padding-bottom: 30px;
  padding-top: 30px;

  &__wrapper
  {
    padding: 40px 0;

    &-light
    {
      background: #1f1d1c;
    }

    &-dark
    {
      background: #000000;
    }
  }

  &__container
  {
    max-width: 990px;
  }

  &__caption
  {
    text-transform: uppercase;
    font-size: 1.3em;
    font-weight: 400;
    line-height: 1.5em;
  }

  &__price_example_caption
  {
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: 400;
    line-height: 1.5em;
  }

  &__description
  {
    font-size: .7em;
    font-weight: 300;
    opacity: .7;

    margin-bottom: 18px;
  }
}

.call-manager-block
{
  display: flex;
  justify-content: space-between;
}
