.price-examples
{
  &__wrapper
  {
    display: flex;
    justify-content: space-between;
  }
}

.price-examples-table
{
  min-width: 49%;
  max-width: 49%;
  border-collapse: collapse;

  &__td
  {
    border-style: solid;
    border-width: 1px;
    border-color: #666666;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    font-size: .9em;
    padding: 10px;

    &__service-name
    {
      max-width: 68%;
      width: 68%;
    }

    &__service-price
    {
      max-width: 32%;
      width: 32%;
    }
  }
}
