@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700&subset=cyrillic');

[class*="ymaps-2"][class*="-ground-pane"] {
  -webkit-filter: grayscale(100%);
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
}

html {
  font-family: 'Roboto', sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;

  color: #fff;
  letter-spacing: 1px;
}
body {
  margin: 0;
  background: #000000;
}
ul {
  list-style: none;
  padding: 0;
}

@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}

.link,
.link:visited,
.link:active {
  color: #fff;
  text-decoration: none;
}

.link:hover {
  opacity: .8;
}

.center-layout-wrapper {
  max-width: 990px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 55px;
}

@media (max-width: 840px) {
  .center-layout-wrapper {
    padding: 0 25px;
  }
}
